<!--NAVIGATION-->
< [**Previous:** 01 - Introduction](01-Introduction.ipynb) | [**Next:** 03 - EDA](03-EDA.ipynb) >

# Importing the Dataset

The purpose of this notebook is to import, clean, and tidy the dataset so that it can be used for analysis and modeling.

In [41]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

## Previewing the Dataset

In [42]:
dataset = pd.read_csv('/data/anikethb/Seattle_Police_Department_911_Incident_Response.csv')
dataset.head()

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CAD CDW ID,CAD Event Number,General Offense Number,Event Clearance Code,Event Clearance Description,Event Clearance SubGroup,Event Clearance Group,Event Clearance Date,Hundred Block Location,District/Sector,Zone/Beat,Census Tract,Longitude,Latitude,Incident Location,Initial Type Description,Initial Type Subgroup,Initial Type Group,At Scene Time
0,﻿15736,10000246357,2010246357,242.0,FIGHT DISTURBANCE,DISTURBANCES,DISTURBANCES,07/17/2010 08:49:00 PM,3XX BLOCK OF PINE ST,M,M2,8100.2001,-122.338147,47.610975,"(47.610975163, -122.338146748)",NaN,NaN,NaN,NaN
1,15737,10000246471,2010246471,65.0,THEFT - MISCELLANEOUS,THEFT,OTHER PROPERTY,07/17/2010 08:50:00 PM,36XX BLOCK OF DISCOVERY PARK BLVD,Q,Q1,5700.1012,-122.404613,47.658325,"(47.658324899, -122.404612874)",NaN,NaN,NaN,NaN
2,15738,10000246255,2010246255,250.0,"MISCHIEF, NUISANCE COMPLAINTS","NUISANCE, MISCHIEF COMPLAINTS","NUISANCE, MISCHIEF",07/17/2010 08:55:00 PM,21XX BLOCK OF 3RD AVE,M,M2,7200.2025,-122.342843,47.613551,"(47.613551471, -122.342843234)",NaN,NaN,NaN,NaN
3,15739,10000246473,2010246473,460.0,TRAFFIC (MOVING) VIOLATION,TRAFFIC RELATED CALLS,TRAFFIC RELATED CALLS,07/17/2010 09:00:00 PM,7XX BLOCK OF ROY ST,D,D1,7200.1002,-122.341847,47.625401,"(47.625401388, -122.341846999)",NaN,NaN,NaN,NaN
4,15740,10000246330,2010246330,250.0,"MISCHIEF, NUISANCE COMPLAINTS","NUISANCE, MISCHIEF COMPLAINTS","NUISANCE, MISCHIEF",07/17/2010 09:00:00 PM,9XX BLOCK OF ALOHA ST,D,D1,6700.1009,-122.339709,47.627425,"(47.627424837, -122.339708605)",NaN,NaN,NaN,NaN

# Tidying

## Tidy Data Characteristics

Recall that Tidy Data has the following characteristics: 

* Each column should contain a single variable.
* Each row should contain a single measurement or sample.
* Each table should contain data about a single entity.
* Relationships between entities should be expressed through multiple tables and key columns.
* Each column should have a well defined and clear name.
* The rows should have an appropriate index.
* The `dtype` of each column should be appropriate for that variable.
* Missing values and NaNs should be handled appropriately and consistently.
* Duplicates values or rows should be removed or handled appropriately.
* Categorical values should be normalized so that each logical category is represented by a single well defined value.
* Strings should to wrangled into a consistent format (case, spaces, etc.).

-from 'data301/Content/Tidy/CleanWrangle.ipynb'

## Dropping Unnecessary Columns at First Glance

In [43]:
dataset.drop(columns=['CAD Event Number', 'CAD CDW ID', 'General Offense Number', 'Hundred Block Location','Event Clearance Date','Initial Type Subgroup', 'Initial Type Group', 'At Scene Time', 'Initial Type Description', 'Event Clearance Group', 'Incident Location'], inplace=True)
dataset.head()

,Event Clearance Code,Event Clearance Description,Event Clearance SubGroup,District/Sector,Zone/Beat,Census Tract,Longitude,Latitude
0,242.0,FIGHT DISTURBANCE,DISTURBANCES,M,M2,8100.2001,-122.338147,47.610975
1,65.0,THEFT - MISCELLANEOUS,THEFT,Q,Q1,5700.1012,-122.404613,47.658325
2,250.0,"MISCHIEF, NUISANCE COMPLAINTS","NUISANCE, MISCHIEF COMPLAINTS",M,M2,7200.2025,-122.342843,47.613551
3,460.0,TRAFFIC (MOVING) VIOLATION,TRAFFIC RELATED CALLS,D,D1,7200.1002,-122.341847,47.625401
4,250.0,"MISCHIEF, NUISANCE COMPLAINTS","NUISANCE, MISCHIEF COMPLAINTS",D,D1,6700.1009,-122.339709,47.627425

I dropped the last 4 columns, as all their rows have missing values, and I wasn't going to use them for my analysis anyways. In addition, the majority of their values are NaN, so performing analysis using those columns wouldn't be logical. The Event Clearance Date column was dropped, as it's only telling us when the incident got cleared to be reported to the public dataset, which is all on one date (7/17/2010). Along with that, the column "Hundred Block Location" is dropped, as I'm only using Latitude/Longitude for location. The column "Incident Location" is dropped due to the fact that it is redudant data. There are already columns that describe the longitude and latitude of the location of the crime. Lastly, I dropped the "Event Clearance Group" column due to the fact that it has pretty much the same data as the "Event Clearance SubGroup" column, and dropped the "CAD CDW ID" and "General Offense Number" columns because they aren't relevant to what I want to analyze.

# Handling Missing Values

We need to now check to see if there is any missing data in any of the columns. Data Analysis cannot be performed accurately when there are NaN values.

In [44]:
dataset.head()

,Event Clearance Code,Event Clearance Description,Event Clearance SubGroup,District/Sector,Zone/Beat,Census Tract,Longitude,Latitude
0,242.0,FIGHT DISTURBANCE,DISTURBANCES,M,M2,8100.2001,-122.338147,47.610975
1,65.0,THEFT - MISCELLANEOUS,THEFT,Q,Q1,5700.1012,-122.404613,47.658325
2,250.0,"MISCHIEF, NUISANCE COMPLAINTS","NUISANCE, MISCHIEF COMPLAINTS",M,M2,7200.2025,-122.342843,47.613551
3,460.0,TRAFFIC (MOVING) VIOLATION,TRAFFIC RELATED CALLS,D,D1,7200.1002,-122.341847,47.625401
4,250.0,"MISCHIEF, NUISANCE COMPLAINTS","NUISANCE, MISCHIEF COMPLAINTS",D,D1,6700.1009,-122.339709,47.627425

###  Handling Columns With Missing Data

In [45]:
def show_nancols(df):
    '''Returns a boolean series of columns that have atleast one NaN value'''
    cols_nan = df.isnull().any()
    cols_nan = cols_nan[cols_nan==True]
    return cols_nan

In [46]:
#Testing my show_nancols function
data_withNans = {
    'first_col' : [None, 3],
    'second_col' : [3, 4]
}

data_withoutNans = {
    'first_col' : [3, 4, 6],
    'second_col' : [None, 2, 3]
}

df_withNans = pd.DataFrame(data_withNans)
df_withoutNans = pd.DataFrame(data_withoutNans)

assert show_nancols(df_withNans).index == ['first_col']
assert show_nancols(df_withoutNans).index == ['second_col']

I am creating a function that returns a boolean series of all the columns in the dataset that have NaN value(s), as I will need to do this multiple times throughout this notebook. Creating a function will make it so that I won't have to reuse the same code over and over again.

In [47]:
print(show_nancols(dataset))

Event Clearance Code           True
Event Clearance Description    True
Event Clearance SubGroup       True
District/Sector                True
Zone/Beat                      True
Census Tract                   True
Longitude                      True
Latitude                       True
dtype: bool

All these columns have atleast 1 NaN value, so they must be dealt with accordingly.

In [48]:
dataset.dropna(subset=['Event Clearance Description'], inplace=True)

#Test to make sure there aren't any NaN values in the column
assert dataset['Event Clearance Description'].isnull().values.any() == False

In [49]:
print(show_nancols(dataset))

District/Sector    True
Census Tract       True
dtype: bool

Dropping rows that are missing the description of the crime is necessary, as without the description of the crime, I can't do any crime analysis on them. As seen by the output above, there are now only 3 columns that contain missing values.

In [50]:
dataset['District/Sector'].fillna(dataset['Zone/Beat'].str[0], inplace=True)

#Test to make sure there aren't any NaN values in the column
assert dataset['District/Sector'].isnull().values.any() == False

In [51]:
print(show_nancols(dataset))

Census Tract    True
dtype: bool

Here, we are filling the rows with missing 'District/Sector' data with the first letter of the corresponding 'Zone/Beat' data in that row. This is due to the fact that the first letter of 'Zone/Beat' of an incident is the correct value of 'District/Sector', as Zone is simply a more specified area that comes under a certain district. The only other exception to that rule is for the Zone/Beat value of 99, which comes under the District/Sector 99 as well. However, there aren't any missing values for those rows, so we don't need to worry about that edge case. As seen by the output above now, the only column with missing values is now Census Tract.

In [52]:
dataset['Census Tract'].fillna('unknown', inplace=True)

#Test to make sure there aren't any NaN values in the column
assert dataset['Census Tract'].isnull().values.any() == False

For the missing values of Census Tract, there isn't a more logical way to fill them than to fill them with the value 'unknown'. Filling it with a random number or by a mean of the other Census Tracts donesn't make sense, since Census Tract represents a code for a region, and it isn't a value that measures something.

In [53]:
print(show_nancols(dataset))

Series([], dtype: bool)

By the output above, we can now see that there aren't any more missing values in any columns.

## Other Filtering

In [54]:
incidents_count = dataset.groupby('Event Clearance SubGroup')['Event Clearance SubGroup'].count()
incidents_count

Event Clearance SubGroup
ANIMAL COMPLAINTS                   3937
ASSAULTS                           24088
AUTO RECOVERIES                     8397
AUTO THEFTS                        22162
BURGLARY ALACAD (FALSE)            19785
BURGLARY ALARMS (FALSE)            34359
CAR PROWL                          49653
CASUALTIES                          9831
COMMERCIAL BURGLARIES              10104
CRISIS CALL                        11647
DISTURBANCES                      188373
FRAUD CALLS                        17652
GUN CALLS                           6412
HARBOR CALLS                        1156
HAZARDS                            18355
HOMICIDE                             229
LIQUOR VIOLATIONS                  80663
MENTAL CALL                        18642
MISCELLANEOUS MISDEMEANORS          4617
NARCOTICS COMPLAINTS               28404
NOISE DISTURBANCE                   8493
NUISANCE, MISCHIEF COMPLAINTS      40864
PANIC ALACAD (FALSE)                2093
PANIC ALARMS (FALSE)                4049
PARKING VIOLATIONS                110183
PARKS EXCLUSIONS                    5019
PERSONS - LOST, FOUND, MISSING      6771
PROPERTY - MISSING, FOUND          16105
PROPERTY DAMAGE                    24215
PROWLER                             2051
PUBLIC GATHERINGS                    344
RECKLESS BURNING                     285
RESIDENTIAL BURGLARIES             31057
ROBBERY                             5429
SEX OFFENSE (NO RAPE)                390
SUSPICIOUS CIRCUMSTANCES          218507
THEFT                              82928
THREATS, HARASSMENT                15225
TRAFFIC RELATED CALLS             223316
TRESPASS                           42925
VEHICLE ALACAD (FALSE)               306
VEHICLE ALARMS (FALSE)               935
VICE CALLS                          3986
WARRANT CALLS                      17094
WEAPONS CALLS                       1398
Name: Event Clearance SubGroup, dtype: int64

When viewing all the categories of the incidents reported in this dataset, it can be observed that quite a few reports were found to be false. These are encoded by '(FALSE)' after the description of the category, as seen by the output above. It is necessary to filter these out, since we don't want to perform analysis on 911 calls that ended up being false alarms.

In [55]:
dataset = dataset[dataset['Event Clearance SubGroup'].str.contains("(FALSE)") == False]

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

In [56]:
#Checking if the filter worked(Makes sure that there aren't any rows that contain a "false alarm" 911 call)
check_df = dataset[dataset['Event Clearance SubGroup'].str.contains("(FALSE)") == True]

assert check_df.empty == True

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

The code above filters out rows that contain a false alarm in the 'Event Clearance SubGroup' column.

In [57]:
incidents_count = dataset.groupby('Event Clearance SubGroup')['Event Clearance SubGroup'].count()
incidents_count

Event Clearance SubGroup
ANIMAL COMPLAINTS                   3937
ASSAULTS                           24088
AUTO RECOVERIES                     8397
AUTO THEFTS                        22162
CAR PROWL                          49653
CASUALTIES                          9831
COMMERCIAL BURGLARIES              10104
CRISIS CALL                        11647
DISTURBANCES                      188373
FRAUD CALLS                        17652
GUN CALLS                           6412
HARBOR CALLS                        1156
HAZARDS                            18355
HOMICIDE                             229
LIQUOR VIOLATIONS                  80663
MENTAL CALL                        18642
MISCELLANEOUS MISDEMEANORS          4617
NARCOTICS COMPLAINTS               28404
NOISE DISTURBANCE                   8493
NUISANCE, MISCHIEF COMPLAINTS      40864
PARKING VIOLATIONS                110183
PARKS EXCLUSIONS                    5019
PERSONS - LOST, FOUND, MISSING      6771
PROPERTY - MISSING, FOUND          16105
PROPERTY DAMAGE                    24215
PROWLER                             2051
PUBLIC GATHERINGS                    344
RECKLESS BURNING                     285
RESIDENTIAL BURGLARIES             31057
ROBBERY                             5429
SEX OFFENSE (NO RAPE)                390
SUSPICIOUS CIRCUMSTANCES          218507
THEFT                              82928
THREATS, HARASSMENT                15225
TRAFFIC RELATED CALLS             223316
TRESPASS                           42925
VICE CALLS                          3986
WARRANT CALLS                      17094
WEAPONS CALLS                       1398
Name: Event Clearance SubGroup, dtype: int64

From this output, we can now see that the dataset no longer contains false alarm 911 calls.

In [58]:
#Testing to make sure the data types for the columns are what we expect them to be
assert dataset['Event Clearance Code'].dtype == 'float64'
assert dataset['Event Clearance Description'].dtype == 'object'
assert dataset['Event Clearance SubGroup'].dtype == 'object'
assert dataset['District/Sector'].dtype == 'object'
assert dataset['Zone/Beat'].dtype == 'object'
assert dataset['Census Tract'].dtype == 'object'
assert dataset['Longitude'].dtype == 'float64'
assert dataset['Latitude'].dtype == 'float64'

In [59]:
#Testing to make sure there are the exact number of columns that we expect there to be, which is 8 columns.
assert len(dataset.columns) == 8

# Export

In [60]:
# Takes around 20 seconds to run
dataset.to_csv('/data/anikethb/tidy_dataset.csv', sep = ',', index=False)

We need to export the current dataset into a new file so that it can be imported from the next notebook(EDA).

<!--NAVIGATION-->
< [**Previous:** 01 - Introduction](01-Introduction.ipynb) | [**Next:** 03 - EDA](03-EDA.ipynb) >